@model IEnumerable<EMPN0739_Scenario2.Models.Employee>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input type="button" class="col-1" onclick="AllEmployees()">
    <table class="table">
        <tdead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Age</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.salary</td>
                    <td>@item.age</td>
                </tr>
            }
        </tbody>
    </table>



    <div class="row">
        <input type="text" id="filter_id" class="col-3">
        <div class="col-1"></div>
        <input type="button" class="col-1" onclick="GoToEmployee()" value="Filter">
    </div>
    <br />
    <br />
    @using (Html.BeginForm("AlterEmployees", "Home", FormMethod.Post))
    {
        <div class="row text-center">
            <table class="table">
                <tr>
                    <td>ID</td>
                    <td>@Html.TextBox("id")</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Html.TextBox("name")</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>@Html.TextBox("age")</td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td>@Html.TextBox("salary")</td>
                </tr>
            </table>
            <input type="submit" value="Add Or Update" />
        </div>
    }
</div>
<script type="text/javascript">
    function GoToEmployee() {
        let id = document.getElementById("filter_id").value;
        window.location.href = '/Home/Index/' + id;
    }
    function AllEmployees(id) {
        window.location.href = '/Home/Index';
    }
</script>
